#root {
  height: 100%;
}

#Blog {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 1fr 200px;
  height: 100%;
  padding: 2rem;
  color: var(--ui-fg);
  background: var(--ui-bg);
}

#Blog > header {
  grid-column: 1 / 3;
  grid-row: 1;
  font-size: 2rem;
  line-height: 64px;
  border-bottom: 1px solid var(--ui-line);
}

#Blog > aside {
  background: var(--ui-panel-bg);
}

#Blog > main {
  display: flex;
  gap: 8px;
  margin: 0 auto;
}

#Blog > main > article {
  max-width: 44rem;
}

pre {
  padding: 0.5rem 1rem;
  overflow: auto;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

.tag {
  font-size: smaller;
  cursor: pointer;
}

.tag + .tag {
  margin-left: 4px;
}

a {
  color: inherit;
  text-decoration-line: none;
}

a:hover {
  color: var(--common-accent);
}
