#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#Blog {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 1fr 200px;
  height: 100%;
}

#Blog > header {
  grid-column: 1 / 3;
  grid-row: 1;
  font-size: 2rem;
  line-height: 64px;
}
