.post-list {
  flex-shrink: 0;
  padding: 16px;
}

.post-list.full {
  width: 40rem;
}

.post-list.tiny {
  width: 20rem;
}

.list-item {
  transition: box-shadow 0.125s ease;
  padding: 8px 16px;
  border-radius: 5px;
  overflow: hidden;
}

.list-item:hover {
  box-shadow: 0 0 0 1px rgba(0,0,0,.03),0 2px 4px rgba(0,0,0,.05),0 4px 16px rgba(0,0,0,.05);
}

.list-item > header, .list-item > footer {
  font-size: 1.2rem;
}

.list-item > div {
  display: flex;
  gap: 4px;
  margin-left: 1rem;
}

.list-item > div > span {
  width: 40px;
}

.list-item:hover header, .list-item:hover footer {
  color: var(--common-accent);
}
