.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.App aside {
  position: sticky;
  top: 0;
  flex-basis: 30%;
  min-width: 20rem;
  border-right: 1px dashed var(--cream-color);
}

.App article {
  flex: 1;
  padding: 1rem;
  font-size: 2rem;
}

.App .font-loading {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
