.catalog {
  padding: 0.25rem;
  text-align: left;
}

.catalog li {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.catalog li:hover {
  color: var(--black-color);
  background-color: var(--cream-color);
}

.catalog li header {
  display: flex;
  justify-content: space-between;
}

.catalog li:hover header a {
  color: #313131;
}

.catalog li header a {
  font-size: 1.5rem;
  font-weight: 700;
}

.catalog li header a {
  color: var(--deep-blue-color);
  text-decoration: none;
}

.catalog li header a:hover {
  box-shadow: inset 0 -0.3rem 0 var(--deep-red-color);
}
