#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 1fr 200px;
  height: 100%;
}

.App > header {
  grid-column: 1 / 3;
  grid-row: 1;
}
