@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  @font-face {
    font-family: 'DancingScript-Bold';
    src: url('./fonts/DancingScript-Bold.ttf');
  }

  @font-face {
    font-family: 'Ubuntu-LightItalic';
    src: url('./fonts/Ubuntu-LightItalic.ttf');
  }
}

:root {
  --color-white: #f8f8f5;
  --color-cyan: #bae8e8;
  --color-dark-cyan: #009688;
  --color-dark-blue: #0300b3;
  --color-purple: #b7adcf;
  --color-gray: #535657;
  --color-black: #1f1f1f;
}
